* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: rgba(66, 73, 67, 0.616);    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: mediumspringgreen;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding-top: 24px;
    height: fit-content;
}
nav ul li a{
    color: mediumspringgreen;
}

.self-img {
    height: 25vw;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 12px black;
}
#horiseon-img {
    height: 175px;
    width: 195px;
    margin-top: 2px;
    margin-bottom: 2px;  
    border: solid black;  
}
#demo-img {
    height: 150px;
    margin: 10% auto 10% auto;
    border: 2px dotted black;
}

#contact-me {
    height: 80vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

#contact-title {
    margin: 10px auto 10px auto;
}

#contact-article {
    margin-top: 20px;
}

footer{
    flex: 0 auto;
    height: 35px;
    margin-bottom: 0;
    
}

