* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: rgba(55, 71, 79, 0.616);    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: mediumspringgreen;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* navbar section */
nav ul li a{
    color: mediumspringgreen;
}

/* about section */
#about-container {
    height: 70vh;
    width: 50vw;
    margin-top: 4%;
    margin-bottom: 4.82%;
    border: 12px solid rgb(72, 68, 73);

}

#about-img {
    height: 350px;
    width: 275px;
    border: 12px solid rgb(98, 148, 125);
    margin-left: 65px;
}

#about-section {
    margin-top: 20%;
}

/* project section */
#project-container {
    height: 80vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 12px solid rgb(72, 68, 73);

}
#horiseon-img {
    height: 175px;
    width: 195px;
    margin-top: 2px;
    margin-bottom: 2px;  
    border: 8px solid rgb(19, 19, 19);
}
#demo-img {
    height: 100px;
    margin: 10% auto 10% auto;
    border: 2px dotted black;
}


/* contact me section */
#contact-me {
    height: 80vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 12px solid rgb(72, 68, 73);

}

#contact-title {
    margin: 20px auto 10px auto;
}

#contact-article {
    margin-top: 55px;
}

#contact-link {
    margin-top: 35px;
    font-size: large;
    font-weight: bold;
    list-style: none;
}
#thanks {
    margin-top: 95px;
    font-size: large;
    font-weight: bold;
    list-style: none;
}

/* footer */
footer{
    flex: 0 auto;
    height: 35px;
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: bold;
}

