* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: rgba(55, 71, 79, 0.616);    
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: mediumspringgreen;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding-top: 24px;
    height: fit-content;
}
nav ul li a{
    color: mediumspringgreen;
}

.self-img {
    height: 25vw;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 12px black;
}

#project-container {
    height: 80vh;
    margin-top: 2%;
    margin-bottom: 2%;
}
#horiseon-img {
    height: 175px;
    width: 195px;
    margin-top: 2px;
    margin-bottom: 2px;  
    border: solid black;  
}
#demo-img {
    height: 100px;
    margin: 10% auto 10% auto;
    border: 2px dotted black;
}

#contact-me {
    height: 80vh;
    margin-top: 2%;
    margin-bottom: 2%;
}

#contact-title {
    margin: 20px auto 10px auto;
}

#contact-article {
    margin-top: 55px;
}

#contact-link {
    margin-top: 35px;
    font-size: large;
    font-weight: bold;
    list-style: none;
}
#teal {
    background-color: #4db6ac;
}

footer{
    flex: 0 auto;
    height: 35px;
    margin-bottom: 0;
    font-size: 12pt;
    font-weight: bold;
}

